#colPanelDiv {
  position: absolute;
  width: 100%;
  height: 92%;
}

#colTableDiv {
  width: 90%;
  height: 80%;
  margin-left: 5%;
  margin-top: 2%;
  border: 2px dashed grey;
  border-radius: 5px;
  overflow:auto;
}
.userTableHead th{
  text-align: center !important;
  cursor: pointer;
}
#colTableDiv img{
  position: static;
  width: 80%;
  height: 20%;
  margin-left: 10% ;
}
#collectionControls {
  width: 40%;
  margin-left: 59.5%;
  margin-top: 2%;
}
#collectionControls button {
  margin: 0 5%;
}
