#leftFieldSet{
  position: absolute;
  width: 40%;
  margin-right: 60%;
  background-color: white;
}
#rightFieldSet{
  width: 60%;
  margin-left: 40%;
  margin-top: 0%;
}
#userDiv{
  width: 50%;
}
#userDataDiv{
  width: 50%;
  margin-left: 50%;
  margin-top: -50%;
}
#userDataDiv label{
  margin-left: 20%;
}
#userDataDiv input{
  width: 60%;
  margin-left: 20%;
}
.pp-element{
  margin-bottom: -5%;
}
#userDiv label{
  margin-left: 20%;
}
#userDiv input{
  width: 60%;
  margin-left: 20%;
}
#leftFieldSet img{
  width: 50%;
  border-radius: 2%;
  border-color: forestgreen;
  border-width: 1px;
  margin-top: 20%;
  margin-left: 25%;
}
#inputPasswordCheckbox{
   margin-left: -4%;
   margin-top: 0.5%;
   width: 50%;
 }
#inputPasswordCheckbox small{
  margin-left: -20%;
}
#tableInfo{
  margin-top: 8%;
}
#editDataGroup{
  width: 24%;
  margin-left: 76%;
  margin-top: 5%;
}
#saveBtn{
  position: absolute;
}
#editBtn{
  margin-left: 20%;
}
.userData{
  font-size: large;
}
.form-group{
  margin-top: 10%;
}
.form-group input {
  width: 60%;
}
#imgDiv {
  margin-top: 2%;
  margin-left: 10%;
  width: 90%;
  height: 90%;
}
#imgDiv img{
  height: 60%;
  width: 60%;
}
#fileLoader {
  width: 60%;
  margin-left: 30%;
}
