<div class="mainDiv">
  <div id="introText">
    <pre>
      <h5>
        <em>
          "This service allows you to create and share your collections of your favorite things - upload images,
        create custom fields to accurately describe the properties of an item. Comment and rate the
        collections of your friends, or random people. To access all the features, you need to register."
        </em>
      </h5>
    </pre>
  </div>
  <div id="randomsItems">
    <pre>
      <h5>
        <em>
          "This service allows you to create and share your collections of your favorite things - upload images,
        create custom fields to accurately describe the properties of an item. Comment and rate the
        collections of your friends, or random people. To access all the features, you need to register."
        </em>
      </h5>
    </pre>
  </div>
</div>
